<?xml version="1.0" encoding="UTF-8"?>
<!-- TRACE DEBUG INFO WARN ERROR OFF -->
<Configuration status="OFF">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <!--控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch）-->
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%highlight{%d{yyyy-MM-dd HH:mm:ss.SSS} [%t][%5p] - %c(%L) - %msg%n}{{FATAL=Bright Red, ERROR=Bright Magenta, WARN=Bright Yellow, INFO=Bright Green, DEBUG=Bright Cyan, TRACE=Bright White}}"/>
        </Console>

        <!--这个会打印出所有的信息，每次大小超过size，则这size大小的日志会自动存入按年份-月份建立的文件夹下面并进行压缩，作为存档-->
        <RollingFile name="RollingInfoFile" fileName="log/app.log"
                     filePattern="logs/info/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t][%5p] - %c(%L) - %msg%n"/>
            <SizeBasedTriggeringPolicy size="5MB"/>
        </RollingFile>

        <!-- error 日志 -->
        <RollingFile name="RollingErrorFile" fileName="log/error.log"
                     filePattern="logs/error/$${date:yyyy-MM}/error-%d{MM-dd-yyyy}-%i.log.gz">
            <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t][%5p] - %c(%L) - %msg%n"/>
            <SizeBasedTriggeringPolicy size="5MB"/>
        </RollingFile>

<!--        &lt;!&ndash; 配置日志写入mysql数据库 &ndash;&gt;-->
<!--        <JDBC name="databaseAppender" tableName="logger_info">-->
<!--            <ConnectionFactory class="com.tsfeng.cn.common.ConnectionFactory" method="getDatabaseConnection" />-->
<!--            <Column name="thread_name" pattern="%t" />-->
<!--            <Column name="class_name" pattern="%c" />-->
<!--            <Column name="method_name" pattern="%method" />-->
<!--            <Column name="begin_time" pattern="%d{yyyy-MM-dd HH:mm:ss.SSS}" />-->
<!--            <Column name="logger_level" pattern="%level" />-->
<!--            <Column name="logger_name" pattern="%c" />-->
<!--            <Column name="logger_message" pattern="%message" />-->
<!--            <Column name="logger_throwable" pattern="%ex{full}" />-->
<!--        </JDBC>-->

<!--        &lt;!&ndash; 异步写入数据库 &ndash;&gt;-->
<!--        <Async name="AsyncDatabaseAppender">-->
<!--            <AppenderRef ref="databaseAppender"/>-->
<!--        </Async>-->

        <!-- 配置日志写入NoSql数据库 MongoDb -->
        <!--
        <NoSql name="noSqlDbAppender">
            <MongoDb databaseName="applicationDb" collectionName="applicationLog" server="mongo.example.org"
                     username="loggingUser" password="abc123" />
        </NoSql>
        -->
        <!-- 异步写入NoSql数据库 -->
        <!--
        <Async name="AsyncNoSqlDbAppender">
            <AppenderRef ref="noSqlDbAppender"/>
        </Async>
        -->
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <appender-ref ref="RollingInfoFile"/>
            <appender-ref ref="RollingErrorFile"/>
            <appender-ref ref="Console"/>
<!--            <appender-ref ref="databaseAppender"/>-->
        </Root>
    </Loggers>
</Configuration>